*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    width: 100%;
}
div{
    background: rgb(240, 181, 181);
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: 600;
}
li{
    display: inline-block;
}

li a{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin: 25px;
}
li :hover{
    color: azure;
}
button {
    width: 90px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(121, 99, 99);
}
.search-ber{
    display: flex;
}
table , th , td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    
}
.map{
    display: block;
    margin: auto;
}